body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
}

.course-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

.auth-box {
    width: 90%;
    max-width: 400px;
    background: white;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #0003;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ccc;
}
.swap {
    cursor: pointer;
    color: #007bff;
}